.sample {
  display: flex;
  flex: 1 0 auto;
  margin: 1vw;
  justify-content: center;
  align-items: center;
  opacity: 0.25;
  background: transparent;
  transition: all 1s ease-out;
  will-change: transform, opacity;

  &:before {
    content: '';
    padding-top: 100%;
  }

  &:hover {
    opacity: 1;
    cursor: pointer;
    transform: scale(1.1);
  }

  &.hidden {
    transform: scale(1.1);
    opacity: 0;
  }

  &.animate {
    opacity: 1;
    animation-name: pulsate;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
  }
}

@keyframes pulsate {
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: none;
  }
}
